/* сбрасываем стили по умолчанию */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border: 0;
    background: none;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
input {
    outline:none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    text-decoration: none;
}
body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
    line-height: 1.428571429;
}

#container {
    margin: 20px auto;
    width: 862px;
}

.block {
    border: 1px solid #333;
    margin-bottom: 20px;
    padding: 10px 10px;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}
.block.text-center {
    text-align: center;
}
.block:last-child {
    margin-bottom: 0;
}

.block .slider {
    height: 120px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.block .item {
    width: 200px;
    height: 100px;
    background: #48ac2e;
    padding: 10px 15px;
    margin: 5px;
    zoom: 1;
    display:-moz-inline-box;
    -moz-box-orient:vertical;
    display:inline-block;
    _display:inline;
    *display:inline;
    vertical-align: top;
}